.fw-s {
	font-weight: 400;
}
.fw-m {
	font-weight: 500;
}
.fw-l {
	font-weight: 700;
}

.fs-xxs {
	font-size: 9px;
}
.fs-xs {
	font-size: 12px;
}
.fs-s {
	font-size: 16px;
}
.fs-m {
	font-size: 20px;
}
.fs-l {
	font-size: 24px;
}
