@import "breakpoints";
@import "colors";
@import "fonts";
@import "utils";
@import "animations";

body {
	font-family: Rubik, Helvetica, Arial, sans-serif;
	background-color: map-get($colors, "vl-gray");
	line-height: 1.5em;
}

.icon-btn {
	@include flex-center;
	gap: 8px;

	&:hover {
		opacity: 0.4;
	}
}

.btn {
	padding: 16px 24px;
	border-radius: 8px;

	&:hover {
		opacity: 0.4;
	}
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.comment-inner-wrap {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.comment {
	flex-grow: 1;
	padding: 24px;
	background-color: map-get($colors, "white");
	border-radius: 16px;
	display: flex;
	gap: 24px;

	.vote-wrapper {
		display: flex;
		justify-content: space-between;

		.vote-box {
			border-radius: 8px;
			height: min-content;
			width: min-content;

			& > * {
				@include flex-center;
				width: 36px;
				height: 32px;
				text-align: center;
			}

			@include m-screen {
				display: flex;
			}
		}
	}

	.comment-content {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		gap: 12px;

		.comment-top-section {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.user-details {
				@include flex-center;
				gap: 12px;

				.you-wrapper {
					@include flex-center();
					.you {
						border-radius: 2px;
						padding: 2px 6px;
						line-height: 1.6em;
					}
				}

				.avatar {
					@include flex-center;
					img {
						width: 28px;
					}
				}
			}

			.comment-buttons {
				@include flex-center;
			}
		}
	}

	@include m-screen {
		flex-direction: column-reverse;
	}
}

.textarea {
	flex-grow: 1;
	padding: 12px 16px;
	font-family: inherit;
	letter-spacing: inherit;
	border-radius: 8px;
}

.new-comment {
	border-radius: 16px;
	padding: 24px;
	display: flex;
	gap: 12px;

	.avatar {
		img {
			width: 36px;
		}
	}
}

.comment-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.reply-list-wrapper {
	display: flex;

	.reply-list {
		display: flex;
		flex-direction: column;
		gap: 24px;
		flex-grow: 1;
	}
	.vl {
		border: 1px solid map-get($colors, "l-gray");
		margin: 4px 32px 12px 32px;

		@include m-screen {
			margin: 4px 16px 12px 16px;
		}
	}
}

.comments-list {
	width: min(90vw, 768px);
	margin: auto;
	margin-top: 64px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.comment-bottom {
	* {
		float: right;
	}
}

.comment-buttons-mobile {
	display: none;

	@include m-screen {
		display: flex;
	}
}
.comment-buttons-large-screen {
	@include m-screen {
		display: none !important;
	}
}
